* {
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: white;
    --bg-url: url(./assetss/dj.jpg);
    --stroke-color:rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assetss/moon-stars.svg);
}
:root.light{
    --text-color: rgb(0, 0, 0);
    --bg-url: url(./assetss/dj.webp);
    --stroke-color:rgba(255, 248, 248, 0.197);
    --surface-color: rgba(245, 244, 244, 0.366);
    --surface-color-hover: rgba(246, 240, 240, 0.158);
    --highlight-color: rgba(58, 57, 57, 0.1);
    --switch-bg-url: url(./assetss/sunny-outline.svg );


}
body{
    background:var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}
body *{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}
#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
#profile img {
    text-align-last: center;
}
#profile {
   display: block;
    width: 112px;
    margin: auto;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
}
#switch {
    position: relative;
    width: 80px;
    margin: 4px auto;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    transition: background 0.5s;
    cursor: pointer;
    
}
#switch button{
    width: 30px;
    height: 30px;
   left: 0;
   background-image: var(--switch-bg-url) ;
   background-repeat: no-repeat;
   background-position: center;
    
   transform: translateY(-50%);
    top: 50%;
    border: none;
    border-radius: 50%;
    transition: all 0.5s;   
    cursor: pointer;
    display: flex;
    align-items: center;
    animation: slide-out 0.2s forwards;
    z-index: 1;
    
    
    
    
}
.light #switch button{
  animation: slide-in 0.4s forwards;
  left: initial;
  right: 0;

}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 999px;

}
ul {
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul li a {
    border: 1px solid var(--text-color);
    display: flex;
   justify-content: center;
    padding: 16px 24px;
    align-items: center;
    background:rgba(255, 255, 255, 0.1);
    border:1px solid rgba(255, 255, 255, 0.5);  
    border-radius:8px;
    text-decoration: none;
    backdrop-filter: blur(4px);
    font-weight: 500;
    transition: background 0.5s;
}
ul li a:hover{
    background:var(--surface-color-hover);
    border:1.5px solid var(--terxt-color);
}
#sociallinks {
 display: flex;
gap: 16px;
 padding: 24px;
 font-size: 24px;
    justify-content: center;

}
#sociallinks a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.5s;
}
#sociallinks a:hover{
    background:var(--highlight-color);
padding: 16px;
}
footer a {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    text-decoration:none;
}
/*MEDIA QUERIES*/
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assetss/dj.jpg);
    }
    :root.light {
        --bg-url: url(./assetss/dj.webp);
    
    }
}
/* animation */
@keyframes slide-in{
    from{
        left: 0;
    }
    to {
        left: 50%;
    }
} 
@keyframes slide-out {
    from{
        left: 50%;
    }
    to {
        left: 0;
    }
}